SECRET_KEY=change-this-in-production
TIME_CASH_PAYMENT_NUMBER=256707281801
OWNER_EMAIL=change-me@example.com
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=true
ADMIN_PASSCODE=change-this-admin-passcode
